<div class="row">
    <div class="col-sm-12 text-right">
        Menu
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <div class="fsocial">
            <a target="_blank" href="https://www.facebook.com/kayhankaya2009"><i
                        class="fab fa-facebook fa-2x"></i></a>
            <a target="_blank" href="https://twitter.com/kayhankaya_"><i
                        class="fab fa-twitter fa-2x"></i></a>
            <a target="_blank" href="https://www.instagram.com/kayhankaya"><i
                        class="fab fa-instagram fa-2x"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/kayakayhan"><i
                        class="fab fa-linkedin fa-2x"></i></a>
            <a target="_blank" href="https://github.com/kayhankaya"><i class="fab fa-github fa-2x"></i></a>
            <a target="_blank" href="https://plus.google.com/+KayhanKAYA"><i
                        class="fab fa-google-plus fa-2x"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        © Copyright 2018 - All Rights Reserved
    </div>
</div>