<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NodeOne</title>

    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/public/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/public/css/mdb.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/fontawesome/web-fonts-with-css/css/fontawesome-all.css">

</head>

<body>

<div class="container border border-info bshadow" style="padding: 0px;">
    <header>
        <div class="row bgheader no-gutters">
            <div class="col-sm-12">
                <% include ./partials/header%>
            </div>
        </div>
    </header>
    <main>
        <div class="row no-gutters">
            <div class="col-sm-12">
                <%- body %>
            </div>
        </div>
    </main>
    <footer>
        <div class="row bgfooter no-gutters">
            <div class="col-sm-12">
                <% include ./partials/footer%>
            </div>
        </div>
    </footer>
</div>

<script type="application/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="/public/js/popper.min.js"></script>
<script type="application/javascript" src="/public/js/bootstrap.js"></script>
<script type="application/javascript" src="/public/js/mdb.js"></script>
<script type="application/javascript" src="/public/fontawesome/svg-with-js/js/fontawesome-all.js"></script>
<script type="application/javascript" src="/public/js/custom.js"></script>
</body>
</html>